.header {
  img {
    width: 100%;
    margin: 0 auto;
    display: block;
  }

  .nav-bar {
    list-style-type: none;
    padding: 0;
  }

  .nav-item{
    display: inline-block;

    & a {
      padding: 18px;
      -webkit-font-smoothing: antialiased;
      -webkit-touch-callout: none;
      user-select: none;
      cursor: pointer;
      outline: 0;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-weight: bold;
      font-size: 16px;
      text-decoration: none;
      color: rgba(157, 165, 180, 0.6);

      &.active,
      &:hover {
        background: rgb(40, 44, 52);
        color: white;
      }
    }
  }

}
