footer {
  color: rgba(157, 165, 180, 0.6);

  ul{
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;

    & li{
      display: inline;
    }
  }
  .fab{
    color: rgba(157, 165, 180, 0.6);
    font-size: 20px;
  }
  .right{
    float: right;

    li a{
      margin-right: 10px;
    }
  }
}
