.resume-page {
  #download-pdf{
    background: rgb(51, 80, 159);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
  }
}
